.seopress-google-suggestions #seopress_suggestions {
    display: inline-block;
    width: 100%;
    margin: 0;
    height: auto;
}

.seopress-google-suggestions .sp-tooltip {
    position: relative;
    margin-left: 5px;
    display: inline-block;
    cursor: help;
    vertical-align: bottom;
    text-align: left;
    background: 0 0;
    border: none;
    padding: 0;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 999999999;
    width: 300px;
    right: -260px;
    padding: 20px;
    top: 25px;
    font-weight: 400;
    box-shadow: 0 3px 30px rgba(25,30,35,.1);
    border: 1px solid #e2e4e7;
    background: #fff;
    word-break: break-word;
    text-transform: none;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltiptext::before {
    border: 8px solid #e2e4e7;
    top: -8px;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltiptext::after {
	border: 8px solid #fff;
	top: -6px;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltiptext::after,
.seopress-google-suggestions .sp-tooltip .sp-tooltiptext::before {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    margin-left: -10px;
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    line-height: 0;
    left: 30px;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltip-headings {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltip-desc {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #e2e4e7;
    padding-bottom: 20px;
    font-size: 13px;
}

.seopress-google-suggestions .sp-tooltip .sp-tooltip-code {
    font-family: Menlo,Monaco,Andale Mono,Courier New,monospace;
    display: block;
    word-break: break-all;
    color: #1a7a06;
    font-size: 11px;
}

.seopress-google-suggestions #seopress_google_suggest_kw_meta {
    width: 100%;
    margin: 5px 0;
}

.seopress-google-suggestions label[for=seopress_google_suggest_kw_meta] {
    width: 100%;
    margin: 0;
}

.seopress-google-suggestions .elementor-button.elementor-button-default {
    background-color: #0071a1;
}

.seopress-google-suggestions .elementor-button.elementor-button-default:hover {
    background-color: #0071a1;
    opacity: 0.8;
}

.seopress-google-suggestions #seopress_suggestions li {
    list-style: none;
    margin: 5px;
    display: inline-block;
    border: 1px solid #0073aa;
    border-radius: 3px;
    white-space: nowrap;
    min-height: 26px;
    line-height: 2.18181818;
    padding: 0 8px;
    font-size: 11px;
    background: #f3f5f6;
}

.seopress-google-suggestions #seopress_suggestions li:hover {
    background: #f1f1f1;
    border-color: #016087;
    
}

.seopress-google-suggestions #seopress_suggestions li a {
    color: #0073aa;
}

.seopress-google-suggestions #seopress_suggestions li a:hover {
    text-decoration: none;
}

.seopress-google-suggestions .sp-tooltip .dashicons {
    color: #666;
}

.elementor-control-field.seopress-google-suggestions .sp-tooltip:hover .sp-tooltiptext,
.elementor-control-field.seopress-google-suggestions .sp-tooltip:focus .sp-tooltiptext,
.elementor-control-field.seopress-google-suggestions .sp-tooltip:active .sp-tooltiptext {
	visibility: visible;
}