.elementor-control-field.facebook-snippet-box .facebook-snippet-text {
    border: 1px solid #dadde1;
    background-color: #f2f3f5;
    padding: 10px 12px;
    max-width: 100%;
    width: 100%;
    margin-top: -2px;
}

.elementor-control-field.facebook-snippet-box .facebook-snippet-text .snippet-meta {
    display: flex;
    overflow: hidden;
    max-height: 12px;
}

.elementor-control-field.facebook-snippet-box .fb-by, 
.elementor-control-field.facebook-snippet-box .snippet-fb-site-name, 
.elementor-control-field.facebook-snippet-box .snippet-fb-url {
    color: #606770;
    font-size: 10px;
    white-space: normal;
    line-height: 11px;
    text-transform: uppercase;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
}

.elementor-control-field.facebook-snippet-box .fb-sep {
    padding-left: 5px;
    padding-right: 5px;
    color: #606770;
    line-height: 11px;
    font-size: 10px;
}

.elementor-control-field.facebook-snippet-box .snippet-fb-title {
    font-size: 12px;
    line-height: 14px;
    margin: 3px 0 0;
    padding-top: 2px;
    color: #1d2129;
    font-weight: 700;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
}

.elementor-control-field.facebook-snippet-box .snippet-fb-description-custom {
    color: #606770;
    font-size: 10px;
    line-height: 14px;
    word-break: break-word;
    font-family: Helvetica,Arial,sans-serif;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    margin-top: 3px;
}

.elementor-control-field.facebook-snippet-box,
.elementor-control-field.twitter-snippet-box {
    color: #4b4f56;
    font-size: 10px;
    margin-top: 10px;
}

.elementor-control-field.facebook-snippet-box .snippet-fb-img {
    width: 100%;
    position: relative;
}

.elementor-control-field.facebook-snippet-box img {
    display: block;
    height: 156px;
    width: 100%;
    object-fit: cover;
    background-color: #edeff0;
    text-align: center;
    border-bottom: none;
}

.elementor-control-field.facebook-snippet-box img:after,
.elementor-control-field.twitter-snippet-box img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #edeff0;
    top: 0;
    left: 0;
    border: 1px solid #dadde1;
}

.elementor-control-field.twitter-snippet-box .snippet-twitter-img-default {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 130px;
    position: relative;
    width: 100%;
}

.elementor-control-field.twitter-snippet-box img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #edeff0;
    text-align: center;
    border-bottom: none;
}

.elementor-control-field.twitter-snippet-box .snippet-fb-description-custom {
    word-break: break-all;
}

.elementor-control-field.twitter-snippet-box .twitter-snippet-text {
    border: 1px solid #dadde1;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 0 0 10px 10px;
    margin-top: -2px;
    width: 100%;
}

.elementor-control-field.twitter-snippet-box .snippet-twitter-title {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
}

.elementor-control-field.twitter-snippet-box .snippet-twitter-description {
    color: #000;
    font-size: 10px;
    word-break: break-word;
    font-family: Helvetica,Arial,sans-serif;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
}

.elementor-control-field.twitter-snippet-box .snippet-meta {
    display: flex;
    margin-top: 5px;
}

.elementor-control-field.twitter-snippet-box .snippet-twitter-url {
    color: #8899a6;
    font-size: 10px;
    white-space: normal;
    text-transform: uppercase;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
}