.seopress-text-letter-counter .sp-progress, .seopress-setup .sp-progress, .seopress-styles .sp-progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem .25rem 0 0;
}

.seopress-text-letter-counter .sp-progress-bar, .seopress-setup .sp-progress-bar, .seopress-styles .sp-progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2271b1;
    transition: width .6s ease;
}

.seopress-text-letter-counter  .wrap-seopress-counters, .seopress-styles .wrap-seopress-counters {
    text-align: right;
    background: #e9ecef;
    padding: 2px 5px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    border-radius: 0 0 .25rem .25rem;
}

.seopress-text-letter-counter  #seopress_titles_desc_counters, .seopress-text-letter-counter  #seopress_titles_title_counters {
    display: inline;
    margin-right: 5px;
}

.seopress-text-letter-counter  .seopress_counters_val {
    display: inline;
    font-weight: 700;
}

.seopress-text-letter-counter  .wrap-tags, .seopress-option .wrap-tags {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.seopress-text-letter-counter  .tag-title,
.seopress-option .tag-title,
.seopress-option .seopress-tag-dropdown {
    padding: 4px 8px;
    position: relative;
    top: 5px;
    left: 0;
    font-size: 11px;
    float: left;
    margin-right: 5px;
    user-select: none;
    margin-bottom: 5px;
    background: #fff;
    color: #6b7c93;
    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.12), 0 3px 9px 0 rgba(50,50,93,.08), 0 1px 1.5px 0 rgba(0,0,0,.08), 0 1px 2px 0 rgba(0,0,0,.08);
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    transition: all .3s linear;
    display: flex;
    align-items: center;
}

.seopress-text-letter-counter .tag-title:active, .seopress-text-letter-counter .tag-title:focus, .seopress-text-letter-counter .tag-title:hover {
    background: #232323;
    color: #fff;
    user-select: none;
}

.seopress-text-letter-counter .tag-title .dashicons, .seopress-option .tag-title .dashicons {
    padding: 0;
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
