/*************************************************************************************************/
/* Metaboxe in CPT                                                                               */
/*************************************************************************************************/
#seopress_cpt .ui-tabs .ui-tabs-nav {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 100%;
    z-index: 50;
    margin: 0;
    padding: 0;
}
#seopress_cpt .ui-helper-clearfix:after {
    content:none;
}
#seopress_cpt .ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 3px 3px 3px;
    display: inline-block;
    padding: 1em 1.4em;
    width: 100%;
    box-sizing: border-box;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li, #seopress_cpt .ui-tabs-anchor {
    cursor:pointer !important;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD #DDDDDD #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    position: relative;
    z-index: 60;
    cursor:pointer;
}
#seopress_cpt #tabs-1 label, 
#seopress_cpt #tabs-2 label[for=seopress_robots_canonical_meta], 
#seopress_cpt #tabs-3 label, 
#seopress_cpt .subsection-title {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: 20px 0 5px;
}
#seopress_cpt .wp-color-result {
    margin:0;
}
#seopress_cpt #tabs-1 input, 
#seopress_cpt #tabs-2 input[type=text], 
#seopress_cpt #tabs-3 textarea, 
#seopress_cpt #tabs-3 input[type=text] {
    width:100%;
}
#seopress_cpt select {
    width:300px;
}
#seopress_cpt .mandatory {
    color: #cc0000;
}
#seopress_cpt .box-left {
    float: left;
    width: 49%;
    margin-right: 1%;
}
#seopress_cpt .box-right {
    float: left;
    width: 49%;
    margin-left: 1%;
}
#seopress_cpt .google-snippet-preview .snippet-title {
    color: rgb(26, 13, 171);
    font-family: arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: underline;
}
#seopress_cpt .google-snippet-preview .snippet-permalink {
    color: rgb(0, 102, 33);
    font-family: arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
#seopress_cpt .google-snippet-preview .snippet-description {
    color: rgb(84, 84, 84);
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
}

/*************************************************************************************************/
/* Admin - Tabs                                                                                  */
/*************************************************************************************************/
#seopress_cpt .ui-tabs {
    position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: .2em;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.38em 1em;
    text-decoration: none;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
}
#seopress_cpt .ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#seopress_cpt .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}
#seopress_cpt .ui-tabs-vertical { width: 55em; }
#seopress_cpt .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
#seopress_cpt .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/*************************************************************************************************/
/* Admin - Options panel                                                                         */
/*************************************************************************************************/
#seopress-header {
    margin: 0 10px 40px;
}
#seopress-header #seopress-admin h1 {
    background: url("../img/logo-seopress.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    margin: 30px 0;
    height: 50px;
}
#seopress-header #seopress-admin h1 .seopress-info-version {
    position: relative;
    left: 270px;
    top: -10px;
}
#seopress-header #seopress-admin .wpc-info-version {
    font-size: 14px;
    left: 310px;
    position: absolute;
    text-indent: 0;
    top: 85px;
}
#seopress-header #seopress-admin #seopress-notice {
    width: 63%;
}
#seopress-header #seopress-admin #seopress-notice p {
    font-size: 16px;
}
#seopress-header #seopress-admin #seopress-notice .dashicons {
    color: #444;
    text-decoration: none;
}
#seopress-header #seopress-admin #seopress-notice p.small {
    font-size: 13px;
    display: inline;
}
#seopress-header #seopress-admin #seopress-notice .wporg-ratings {
    display: inline;
}
.seopress-option .seopress-settings {
    float: left;
    max-width: 750px;
    width: 100%;
}
.seopress-option #seopress-refresh,
.seopress-option #seopress-edd-license-btn {
    float: left;
}
.wp-admin-ui_page_seopress-import-export .postbox {
    margin-right: 20px;
}
.seopress-option #side-sortables .accordion-section-content {
    padding: 0;
}
.seopress-option .seopress-settings label {
    margin: 0 0 0 10px;
}
.seopress-tab {
    display: none;
}
.seopress-tab.active {
    display: block;
}
.seopress-option input[type="text"],
.seopress-option input[type="password"],
.seopress-option textarea {
    min-width: 400px;
}
.seopress-option textarea {
    min-height: 100px;
}
.seopress-option #side-sortables .highlight {
    border: 1px dashed #ccc;
    display: block;
    width:382px;
    height: 40px;
    background: transparent;
}
.seopress-option #side-sortables .accordion-section {
    margin-bottom: 9px;
    width: 382px;
}
.seopress-option #side-sortables .accordion-section h3 {
    cursor: move;
    border: 1px solid #E5E5E5;
    background: #FAFAFA;
}
.seopress-option #side-sortables .accordion-section .inside {
    padding: 10px 10px 24px 10px;
    border-width: 0 1px 1px;
    border-style: solid;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-color: rgb(229, 229, 229);
    display: inline-block;
    width: calc(100% - 22px);
    height: 100%;
}
.seopress-option #side-sortables .accordion-section .inside ul {
    padding-left: 10px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.seopress-option #side-sortables .accordion-section .inside ul li {
    border-left: 2px solid rgb(204, 204, 204);
    padding-left: 10px;
    margin-bottom: 10px;
}
.seopress-option #side-sortables .accordion-section .inside ul li:first-child {
    border-bottom: 1px dotted #E5E5E5;
    border-left: 0;
    padding-bottom: 10px;
    font-weight: bold;
    margin-left:-15px;
    margin-bottom: 10px;
}
.seopress-notice #message {
    margin: 5px 10px 2px 0;
}
.seopress-page-list {
    margin: 0 0 0 -16px;
}
.seopress-page-list .dashicons {
    vertical-align: middle;
    margin-right: 5px;
}
.seopress-page-list td {
    vertical-align: top;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    width: 25%;
    max-width: 250px;
    min-width: 200px;
}
.seopress-page-list td .img-tool {
    height: 125px;
    width: 100%;
    background: #747474;
}
.seopress-page-list td .img-tool .dashicons {
    color: #FFF;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 130px;
    line-height: 130px;
}
.seopress-page-list td .inner {
    margin: 20px;
    display: block;
}
.seopress-page-list td h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.seopress-page-list td h4 .dashicons {
    font-size: 16px;
    margin-left: 5px;
    vertical-align: middle;
}
.seopress-page-list a {
    color: #333;
    text-decoration: none;
}
.seopress-page-list a:hover {
    text-decoration: none;
    color: #09C;
}
.seopress-option .seopress-table {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #ccc;
}
.seopress-option .seopress-table th {
    padding: 15px 10px;
    vertical-align: middle;
}
.wp-admin-ui_page_seopress-roles .seopress-option .seopress-table th {
    min-width: 200px;
}
.seopress-option .seopress-table .seopress-settings-section {
    background: #f1f1f1;
}
.seopress-option .seopress-table .seopress-table-head td {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background: #f1f1f1;
}
#seopress-admin .wpalacarte-banner {
    position: absolute;
    right: 28px;
    top: 10px;
    height: 200px;
    width: auto;
}
.seopress-option input[type="text"].seopress-admin-menu-input {
    min-width: inherit;
    width: 100%;
}