@font-face {
    font-family: seopress;
    src: url(../fonts/seopress.eot?8v0bs0);
    src: url(../fonts/seopress.eot?8v0bs0#iefix) format("embedded-opentype"),
        url(../fonts/seopress.ttf?8v0bs0) format("truetype"),
        url(../fonts/seopress.woff?8v0bs0) format("woff"),
        url(../fonts/seopress.svg?8v0bs0#seopress) format("svg");
    font-weight: 400;
    font-style: normal;
}
[class*=" icon-seopress"],
[class^="icon-seopress-"] {
    font-family: seopress !important;
}
.icon-seopress-seopress:before {
    content: "\e800";
    font: normal 14px/1 seopress;
    line-height: 1.5rem;
}
#wpadminbar,
.seopress-option #wpcontent,
.seopress-styles #wpcontent,
.post-type-seopress_404 #wpcontent,
.post-type-seopress_schemas #wpcontent,
#seopress_cpt,
#seopress_content_analysis,
#seopress_pro_cpt,
.column-seopress_score {
	--primaryColor: #007cba;
	--paragraphColor: #757575;
	--fontSize: 13px;
	--fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--color: #757575;
	--colorDark: #1e1e1e;
	--colorAlert: #a00;
	--colorWarning: #ffba00;
	--colorSuccess: #4ab866;
	--colorLowAlert: #e39f48;
	--colorPre: #37864b;
	--colorIcon: #d7dade;
	--lineHeight: 24px;
	--titleColor: #3c434a;
	--titleFontSize: 20px;
	--titleFontWeight: normal;
	--titleMargin: 10px 0;
	--backgroundPrimary: #007cba;
	--backgroundPrimaryHover: #006ba1;
	--backgroundSecondaryHover: #f0f0f0;
	--borderColor: #a7aaad;
	--borderColorLight: #dcdcde;
	--borderColorLight40: rgba(220, 220, 222, 0.4);
	--borderColorCard: #e2e4e7;
	--borderColorTab: #c3c4c7;
}
/* Adminbar */
.icon-seopress-seopress:before {
	content: "\e800";
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_top_level
	.wrap-seopress-noindex {
	background: var(--colorAlert);
	color: #fff;
	padding: 0 8px;
	float: right;
	margin-left: 6px;
}
#wpadminbar #wp-toolbar #wp-admin-bar-seopress_custom_top_level > a {
	display: inline-block;
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_top_level
	.wrap-seopress-noindex
	.ab-icon::before {
	color: #eee;
	vertical-align: middle;
}
#wpadminbar #wp-toolbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots {
	display: block;
	background: #23292d;
}
#wpadminbar #wp-toolbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots a {
	height: inherit;
	padding-bottom: 5px;
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-seo {
	font-weight: bold;
	border-bottom: 1px solid currentColor;
	width: 100%;
	display: block;
	margin-bottom: 5px;
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-noindex,
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-nofollow {
	display: block;
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-noindex
	.ab-icon,
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-nofollow
	.ab-icon {
	float: none;
	vertical-align: middle;
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-noindex
	.on::before,
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-nofollow
	.on::before {
	color: var(--colorAlert);
}
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-noindex
	.off::before,
#wpadminbar
	#wp-toolbar
	#wp-admin-bar-seopress_custom_sub_menu_meta_robots
	.wrap-seopress-cpt-nofollow
	.off::before {
	color: var(--colorSuccess);
}
