/* Dashboard */
.seopress-tab.inside,
.seopress-summary-items .inside {
    padding: 0 0 1rem 0;
}

#seopress-admin-tabs.seopress-ui-tabs {
    position: relative;
    padding: 0.2em;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: -1px 0.2em 0 0;
    padding: 0;
    white-space: nowrap;
    border: none;
    background: 0 0;
}

#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.38em 1em 0.75rem;
    outline: 0;
    border-bottom: 2px solid #fff;
}

#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
}

#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
    border-bottom: 2px solid #23282d;
    color: #23282d;
}

#seopress-admin-tabs.seopress-ui-tabs .ui-tabs-nav li a,
#seopress-admin-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
    color: #0073aa;
    text-decoration: none;
}

#seopress-admin-tabs.ui-tabs-vertical {
    width: 55em;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav {
    padding: 0.2em 0.1em 0.2em 0.2em;
    float: left;
    width: 12em;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px 0.2em 0;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: 0.1em;
    border-right-width: 1px;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

#seopress-admin-tabs.wrap {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    #seopress-admin-tabs.wrap {
        width: 100%;
    }
}

#seopress-admin-tabs .seopress-tab {
    width: 100%;
    display: none;
}

#seopress-admin-tabs .seopress-tab.active {
    visibility: visible;
    overflow: inherit;
    opacity: 1;
    transform: translateX(0);
    display: inherit;
    position: relative;
}

#seopress-admin-tabs .ui-tabs-nav {
    margin: 0 auto 20px;
    max-width: 75rem;
    width: 100%;
    border-radius: 0 0 4px 4px;
}

.seopress-list-items,
.seopress-list-items .seopress-item {
    margin: 0 0 12px 0;
}

.seopress-list-items .seopress-item:last-child {
    border-bottom: none;
}

.seopress-list-items .seopress-item .seopress-item-inner {
    color: #0C082F;
    text-decoration: none;
    padding: 15px 20px;
    background: var(--backgroundSecondary);
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    transition: all 150ms linear;
}

.seopress-option .has-action {
    display: flex;
    align-items: center;
}

.seopress-list-items .seopress-item .seopress-item-inner.done {
    background: linear-gradient(97.43deg, #0C082F 0.92%, #2B1F99 100%);
    color: #fff;
}

.seopress-list-items .seopress-item .seopress-item-inner:hover {
    opacity: 0.85;
}

.seopress-list-items .seopress-item-before,
.seopress-list-items .seopress-item-after {
    margin: 0px 20px 0 10px;
    position: relative;
}

.seopress-list-items .seopress-item .seopress-item-title {
    margin: 5px 0;
    color: var(--primaryColor);
}

.seopress-list-items .seopress-item .seopress-item-date {
    color: var(--paragraphColor);
    font-weight: normal;
    margin: 0;
}

.seopress-list-items .seopress-item .seopress-item-content {
    color: var(--colorDark);
    font-weight: normal;
    margin: 0;
}

.seopress-list-items .seopress-item .seopress-item-inner.check {
    position: relative;
    display: block;
}

.seopress-list-items .seopress-item .seopress-item-inner.check::before,
.indexing-log::before {
    content: "";
    width: 34px;
    height: 34px;
    font-size: 24px;
    vertical-align: middle;
    border-radius: 50px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid var(--borderColorLight);
    line-height: 34px;
    text-align: center;
}

.seopress-list-items .seopress-item .seopress-item-inner.check::before {
    content: attr(data-index);
    color: #0C082F;
    font-size: 16px;
    border: none;
    background: rgba(78, 33, 231, 0.1);
}

.seopress-list-items .seopress-item .seopress-item-inner.done::before,
.indexing-log.indexing-done::before,
.indexing-log.indexing-failed::before {
    background: var(--backgroundPrimary);
    border: none;
    content: "\f15e";
    font-family: "Dashicons";
    color: #fff;
    font-size: 24px;
}

.indexing-log.indexing-done::before {
    background: var(--colorSuccess);
}

.indexing-log.indexing-failed::before {
    background: var(--colorAlert);
    content: "\f335";
}

/* Default styles */
.seopress-dashboard .seopress-option {
    background: url(../img/bg-dashboard.svg) no-repeat 100% 0%;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
}

.seopress-dashboard h1 {
    font-weight: 700;
    font-size: 34px;
    color: var(--titleColor);
}

.seopress-dashboard h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.seopress-dashboard h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--titleColor);
}

.seopress-dashboard p {
    font-size: 14px;
    line-height: 1.4rem;
    color: var(--paragraphColor);
}

.seopress-dashboard .seopress-btn {
    padding: 9px 16px;
    text-decoration: none;
    border: 1px solid rgba(186, 184, 207, 0.5);
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    color: var(--paragraphColor);
    font-weight: 600;
    transition: all 150ms linear;
    display: inline-block;
}

.seopress-dashboard .seopress-btn:hover {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(186, 184, 207, 1);
}

.seopress-dashboard .seopress-btn.seopress-btn-primary {
    padding: 18px 28px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}

/* Intro */
.seopress-intro {
    gap: 1rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.seopress-styles .seopress-intro h1 {
    font-weight: 700;
    font-size: 34px;
    color: #0C082F;
    line-height: 34px;
}

.seopress-intro p {
    font-weight: 600;
    font-size: 18px;
    color: var(--paragraphColor);
    line-height: 22px;
    margin: 0;
}

/* Notifications */
.seopress-notifications .seopress-card-content {
    padding: 5px 5px 5px 24px;
    display: flex;
    justify-content: space-between;
}

.seopress-notifications .seopress-card-content p {
    font-weight: bold;
}

.seopress-notifications .seopress-card-content span {
    font-weight: bold;
    background: red;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}

/* Get started */
.seopress-get-started,
.seopress-intro,
.seopress-notifications {
    max-width: 75rem;
    width: 100%;
    border-radius: 0 0 4px 4px;
}

.seopress-get-started {
    margin: 0;
}

.seopress-get-started .seopress-block-wizard {
    min-width: 277px;
    background: linear-gradient(97.43deg,#0C082F .92%,#2B1F99 100%);
    backdrop-filter: blur(12px);
    border-radius: 8px;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-shrink: 3;
    position: relative;
    overflow: hidden;
}

.seopress-get-started .seopress-block-wizard::after {
    content: '';
    background: url(../img/bg-dashboard-wizard.svg) 100% 0% no-repeat;
    opacity: 0.1;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    filter: invert(1);
    background-size: 300px 300px;
}

.seopress-get-started .seopress-block-wizard>* {
    z-index: 2;
}

.seopress-get-started h2 {
    color: #fff;
}

.seopress-card-actions {
    margin: 24px 0 0 0;
}

.seopress-card-actions a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.seopress-card-actions a:hover {
    text-decoration: underline;
}

.seopress-get-started .seopress-block-wizard .seopress-btn {
    background: var(--backgroundSecondary);
    color: var(--primaryColor);
    width: 100%;
}

.seopress-get-started .seopress-block-wizard .seopress-btn:hover {
    background: var(--backgroundPrimaryHover);
    color: var(--backgroundSecondary);
    border: 1px solid var(--backgroundPrimaryHover);
}

.seopress-new-feature p {
    color: #BAB8CF;
}

.seopress-block-wizard p {
    color: #fff;
}

.seopress-block-wizard .seopress-card-actions {
    width: 100%;
    text-align: center;
}

.seopress-get-started .seopress-block-new-features {
    display: flex;
    background: linear-gradient(97.43deg, #0C082F 0.92%, #2B1F99 100%);
    border: 1px solid rgba(244, 244, 244, 0.1);
    backdrop-filter: blur(5.5px);
    border-radius: 8px;
    width: 100%;
    color: #BAB8CF;
    flex-grow: 2;
}

.seopress-get-started .seopress-block-new-features .seopress-new-feature {
    width: 33.33%;
    padding: 24px;
    transition: all 150ms linear;
}

.seopress-get-started .seopress-block-new-features .seopress-new-feature:hover {
    background: rgb(255 255 255 / 10%);
}

/* SEO Management */
.seopress-page-list {
    position: relative;
    display: block;
    max-width: 75rem;
}

.seopress-page-list .seopress-card-content {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4), 1fr));
    display: grid;
    padding: 2rem;
    gap: 1rem;
}

.seopress-card {
    background: #fff;
    border-radius: 8px;
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.seopress-option .seopress-card-actions a+button {
    margin-left: 0.5em;
}

.seopress-card-footer {
    padding: 10px 20px;
    border-top: 1px solid var(--borderColorLight40);
}

.seopress-card-popover {
    display: none;
    background: #fff;
    border: 1px solid var(--borderColor);
    padding: 20px;
    position: absolute;
    top: 68px;
    overflow-y: auto;
    right: 44px;
    z-index: 20;
}

.seopress-card-popover.is-open {
    display: block;
}

.seopress-card-title {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#seopress-page-list .seopress-card-title {
    flex-direction: inherit;
}

.seopress-card-title h2 {
    margin: 0;
}

.seopress-page-list .seopress-cart-list {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--borderColor);
    gap: 1rem;
    border-radius: 4px;
}

.seopress-cart-list .seopress-card-item {
    padding: 1rem 1rem 0 1rem;
}

.seopress-cart-list .seopress-card-item .name {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
}

.seopress-cart-list .seopress-card-name,
.seopress-cart-list .seopress-card-header {
    gap: 1rem;
}

.seopress-cart-list .seopress-card-item .name a {
    text-decoration: none;
    color: inherit;
}

.seopress-cart-list .seopress-card-item .name a:hover {
    text-decoration: underline;
}

.seopress-item-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.seopress-item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--borderColor);
    background: rgb(230 230 232 / .2);
}

/* Dashboard - Simple view */

.seopress-dashboard.seopress-simple-view .seopress-cart-list p,
.seopress-dashboard.seopress-simple-view .seopress-cart-list .seopress-item-footer {
    display: none;
}

.seopress-dashboard.seopress-simple-view .seopress-cart-list .seopress-card-item {
    padding: 1rem;
}

.seopress-dashboard .seopress-btn-view-switch {
    background: none;
    cursor: pointer;
}

/* Insights */
#notice-insights-alert .seopress-card-content {
    padding: 1rem 2rem 0;
}

/* Tasks */
#notice-tasks-alert .seopress-card-content {
    padding: 0 2rem 2rem 2rem;
}

#notice-tasks-alert .seopress-suite {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    display: flex;
}

#notice-tasks-alert .seopress-suite .seopress-integration {
    width: 100%;
}

#notice-tasks-alert .seopress-suite .seopress-wrap-details {
    gap: 0.5rem;
}
#notice-tasks-alert .seopress-suite .upgrade a {
    background: var(--backgroundSecondary);
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    display: flex;
    transition: all 150ms linear;
    gap: 0.2rem;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 600;
}

#notice-tasks-alert .seopress-suite .upgrade a:hover {
    background: var(--backgroundSecondaryHover);
}

/* SEO Ebooks */
#seopress-ebook-panel .seopress-card-content {
    padding: 1rem 2rem 2rem 2rem;
}

.seo-ebooks {
    display: flex;
    gap: 2rem;
}

.seo-ebook {
    display: flex;
    gap: 1rem;
    width: calc(100% / 3);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 1rem;
}

.seo-ebook .details {
    flex-basis: 66.66%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.seo-ebook .cover {
    flex-basis: 33.33%;
}

.seo-ebook img {
    max-width: 100%;
}

/* Integrations */
#seopress-integration-panel .seopress-card-content {
    padding: 1rem 2rem 2rem 2rem;
}

.seopress-integrations {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
}

.seopress-integration {
    display: flex;
    gap: 1rem;
    width: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    align-items: center;
}

.seo-ebook .name,
.seopress-integration .name {
    margin: 0 0 0.2rem 0;
    font-size: 14px;
}

/* Status */
.seopress-card .status {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.seopress-card .status .badge {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--backgroundPrimary);
}

.seopress-card .status .badge.status-inactive {
    background: #CABCF8;
}

.seopress-card .status .badge.status-expired {
    background: var(--colorAlert);
}

/* SEOPress columns */
.seopress-dashboard-columns {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.seopress-dashboard-column {
    align-self: flex-start;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: calc(100% - 400px);
}

.seopress-dashboard-columns > .seopress-dashboard-column:first-child {
    flex-basis: 400px;
    flex-direction: column;
}

.seopress-dashboard-columns > .seopress-dashboard-column:only-child {
    flex-basis: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
}


/* Newsroom */
#seopress-news-panel {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
}

#seopress-news-panel .seopress-card-content {
    padding: 32px 40px;
}

#seopress-news-panel .seopress-item-category {
    font-weight: 600;
    color: var(--primaryColor);
    margin: 25px 0 16px;
}

#seopress-news-panel .seopress-thumb {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

#seopress-news-panel .seopress-item-title a {
    font-size: 22px;
    color: #0C082F;
    text-decoration: none;
}

#seopress-news-panel .seopress-item-title a:hover {
    text-decoration: underline;
}

#seopress-news-panel .seopress-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 48px;
}

#seopress-news-panel .seopress-article {
    flex-flow: column;
    display: flex;
    position: relative;
    justify-content: space-between;
}

#seopress-news-panel .seopress-article::after {
    content: '';
    background: var(--borderColor);
    width: 1px;
    height: 100%;
    right: -23px;
    top: 0;
    position: absolute;
}

#seopress-news-panel .seopress-article:last-child:after {
    content: none;
}

/* Responsive */
@media only screen and (max-width: 782px) {
    .seopress-dashboard-columns {
        max-width: 100%;
        flex-direction: column;
        grid-template-columns: inherit;
    }

    .seopress-dashboard-columns > .seopress-dashboard-column:first-child {
        flex-basis: inherit;
    }

    .seopress-dashboard-column {
        width: 100%;
    }

    .seopress-get-started,
    .seopress-intro,
    .seopress-get-started .seopress-block-new-features {
        flex-flow: column;
        text-align: center;
    }

    .seopress-get-started .seopress-block-new-features .seopress-new-feature {
        width: 100%;
    }

    #seopress-news-panel .seopress-article::after {
        height: 1px;
        width: 100%;
        right: 0;
        bottom: -23px;
        top: inherit;
    }

    .seopress-page-list .seopress-card-content {
        grid-template-columns: inherit;
    }

    .seopress-integrations {
        display: flex;
    }

    .seo-ebooks,
    .seopress-integrations {
        flex-direction: column;
    }

    .seo-ebook,
    .seopress-integration {
        width: 100%;
    }
}
