#wpadminbar {
    --colorAlert: #a00;
    --colorSuccess: #4ab866;
}

/* Adminbar */
#wpadminbar #wp-admin-bar-seopress .svg.seopress-logo {
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 24px;
    float: left;
    height: 32px;
    width: 28px;
}

#wpadminbar #wp-admin-bar-seopress .wrap-seopress-noindex {
    background: var(--colorAlert);
    color: #fff;
    padding: 0 8px;
    float: right;
    margin-left: 6px;
}

#wpadminbar #wp-admin-bar-seopress>a {
    display: inline-block;
}

#wpadminbar #wp-admin-bar-seopress .seopress-menu-notification-counter {
    display: inline-block !important;
    min-width: 18px !important;
    height: 18px !important;
    border-radius: 10px !important;
    margin: 7px 0 0 4px !important;
    vertical-align: top !important;
    font-size: 11px !important;
    line-height: 1.7 !important;
    text-align: center !important;
}

body:not(.wp-admin) #wpadminbar .wp-ui-notification.seopress-menu-notification-counter {
    color: #fff;
    background-color: #d63638;
}

#wpadminbar #wp-admin-bar-seopress .wrap-seopress-noindex .ab-icon::before {
    color: #eee;
    vertical-align: middle;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots {
    display: block;
    background: #23292d;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots a {
    height: inherit;
    padding-bottom: 5px;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-seo {
    font-weight: bold;
    border-bottom: 1px solid currentColor;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-noindex,
#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-nofollow {
    display: block;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-noindex .ab-icon,
#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-nofollow .ab-icon {
    float: none;
    vertical-align: middle;
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-noindex .on::before,
#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-nofollow .on::before {
    color: var(--colorAlert);
}

#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-noindex .off::before,
#wpadminbar #wp-admin-bar-seopress_custom_sub_menu_meta_robots .wrap-seopress-cpt-nofollow .off::before {
    color: var(--colorSuccess);
}