#adminmenu div.wp-menu-image.dashicons-admin-seopress::before, #seopress-header #seopress-admin h1::before {
    content: "\e800";
    font-family: seopress !important;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

#seopress-header #seopress-admin h1::before,.seopress-page-list .seopress-feature h3,.seopress-styles .seopress-option h1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: seopress;
    src: url(../fonts/seopress.eot?81521271);
    src: url(../fonts/seopress.eot?81521271#iefix) format('embedded-opentype'),
    url(../fonts/seopress.woff?81521271) format('woff2'),
    url(../fonts/seopress.woff?81521271) format('woff'),
    url(../fonts/seopress.ttf?81521271) format('truetype'),
    url(../fonts/seopress.svg?81521271#seopress) format('svg');
    font-weight: 400;
    font-style: normal;
}

[class*=" icon-seopress"],[class^=icon-seopress-] {
    font-family: seopress!important;
    font-size: 14px !important;
    line-height: 24px !important;
}

.icon-seopress-seopress:before {
    content: "\e800";
}

.sp-tooltip {
    position: relative;
    margin-left: 5px;
    display: inline-block;
    cursor: help;
}

.sp-tooltip .dashicons {
    color: #666;
}

.sp-tooltip .sp-tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 999999999;
    color: #fff;
    font-size: .8em;
    background: #333;
    text-align: center;
    width: 240px;
    right: 0px;
    border-radius: 3px;
    padding: .618em 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    top: 25px;
}

.sp-tooltip:hover .sp-tooltiptext {
    visibility: visible;
}

#seopress_content_analysis .wrap-seopress-analysis {
    display: inline-block;
    width: 100%;
}

#seopress_content_analysis .col-left {
    width: calc(50% - 30px);
    float: left;
    margin-right: 30px;
}

#seopress_content_analysis .col-right {
    float: right;
    width: 50%;
}

#seopress_content_analysis #seopress_suggestions {
    display: inline-block;
    width: 100%;
    margin: 0;
    height: auto;
    padding: 20px 0;
}

#seopress_content_analysis #seopress_suggestions li {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

#seopress_launch_analysis {
    float: left;
}

#seopress_analysis_results_state {
    background: rgba(74,184,102,.75);
    color: #fff;
    padding: 5px 25px 5px 20px;
    border-radius: 100px;
    font-style: italic;
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0 0 0 20px;
    clear: both;
}

#seopress_content_analysis h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#seopress_content_analysis .wrap-analysis-img ul {
    display: flex;
    flex-wrap: wrap;
}

#seopress_content_analysis .wrap-analysis-img ul li {
    padding: 0;
    text-align: left;
    cursor: default;
}

#seopress_content_analysis .wrap-analysis-img h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#seopress_content_analysis .wrap-analysis-img ul li img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    cursor: default;
}

#seopress_cpt .notice {
    padding: 10px 14px;
}
#seopress_cpt .dashicons,
#seopress-analysis-tabs .dashicons {
    vertical-align: middle;
}
#seopress_cpt .inside {
    margin: 0;
    padding: 0;
}
#seopress_content_analysis .ui-tabs .ui-tabs-nav,#seopress_cpt .ui-tabs .ui-tabs-nav {
    display: inline-block;
    min-height: 26px;
    position: relative;
    width: 100%;
    z-index: 10;
    margin: 0;
    border-radius: 0;
    padding: 0;
    background: #f3f4f5;
    border: none;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav {
    width: calc(100% + 24px);
    margin: 0 0 0 -12px;
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    top: 0;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav {
    margin-top: 15px;
}

#seopress_content_analysis .ui-helper-clearfix:after,#seopress_cpt .ui-helper-clearfix:after {
    content: none;
}

.seopress_page_seopress-titles #seopress-tabs .form-table td,.seopress_page_seopress-titles #seopress_content_analysis .form-table td {
    padding: 0;
}

#seopress_content_analysis .ui-tabs .ui-tabs-panel,#seopress_cpt .ui-tabs .ui-tabs-panel {
    background: #FFF;
    border-radius: 0;
    display: inline-block;
    padding: 1em 1.4em;
    width: 100%;
    box-sizing: border-box;
}

#seopress_content_analysis .ui-tabs .ui-tabs-panel .dashicons-info,#seopress_cpt .ui-tabs .ui-tabs-panel .dashicons-info,#seopress_pro_cpt .dashicons-info {
    font-size: 16px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li,#seopress_content_analysis .ui-tabs-anchor,#seopress_cpt .ui-tabs .ui-tabs-nav li,#seopress_cpt .ui-tabs-anchor {
    cursor: pointer!important;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li.ui-tabs-active,#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    position: relative;
    z-index: 60;
    cursor: pointer;
    border-radius: 0;
    border-bottom: 3px solid #0085ba;
}

#seopress_content_analysis label,#seopress_cpt #tabs-1 label,#seopress_cpt #tabs-2 label[for=seopress_robots_breadcrumbs_meta],#seopress_cpt #tabs-2 label[for=seopress_robots_canonical_meta],#seopress_cpt #tabs-2 label[for=seopress_robots_primary_cat_meta],#seopress_cpt #tabs-3 label,#seopress_cpt #tabs-4 label,#seopress_cpt #tabs-5 label,#seopress_cpt #tabs-6 label,#seopress_cpt .subsection-title,#seopress_pro_cpt label {
    display: block;
    margin: 20px 0 5px;
    font-weight: 700;
}

#seopress_cpt .wp-color-result {
    margin: 0;
}

#seopress_content_analysis input[type=text],#seopress_cpt #tabs-1 input,#seopress_cpt #tabs-2 input[type=text],#seopress_cpt #tabs-3 input[type=text],#seopress_cpt #tabs-3 textarea,#seopress_cpt #tabs-4 input[type=text],#seopress_cpt #tabs-5 input[type=text],#seopress_cpt #tabs-6 input[type=text],#seopress_cpt #tabs-6 textarea {
    width: 90%;
    display: inline-block;
}

#seopress_cpt #tabs-1 input {
    width: 100%;
}

#seopress_cpt #tabs-6 input[type=number] {
    width: 30%;
    min-width: 200px;
}

#seopress_cpt #tabs-6 #wrap-videos .video:first-child .remove-video {
    display: none;
}

#seopress_cpt select {
    width: 300px;
}

#seopress_cpt #tabs-4 select {
    width: 250px;
    display: inline;
}

#seopress_cpt #tabs-4 #seopress_redirections_value_meta {
    width: calc(100% - 258px);
    float: right;
}

#seopress_cpt #tabs-6 {
    padding: 0;
}

#seopress_cpt #tabs-6 #wrap-videos .video .accordion-section-content,#seopress_cpt #tabs-6>p {
    padding: 0 1.4em;
}

#seopress_cpt #tabs-6 #wrap-videos .video .accordion-section-content {
    padding: 0 1.4em 1em;
}

#seopress_cpt #tabs-6 #wrap-videos .video {
    border-top: 1px solid #eee;
}

#seopress_cpt #tabs-6 #wrap-videos .video .accordion-section-title {
    border-left: none;
    border-right: none;
    font-size: 1em;
    padding: 1em 1.4em;
}

#seopress_cpt #tabs-6 #wrap-videos .video:last-child .accordion-section-content,#seopress_cpt #tabs-6 #wrap-videos .video:last-child .accordion-section-title {
    border-bottom: 1px solid #eee;
}

#seopress_cpt #tabs-6 #wrap-videos .video .inside {
    padding: 0;
}

#seopress_cpt #tabs-4 #seopress_redirections_enabled,#seopress_cpt #tabs-5 #seopress_news_disabled,#seopress_cpt #tabs-5 #seopress_news_standout,#seopress_cpt #tabs-6 #seopress_video_disabled,#seopress_cpt #tabs-6 .family-friendly label,#seopress_cpt #tabs-6 .internal_video label {
    font-weight: 400;
}

#seopress_cpt #tabs-6 #wrap-videos .video:nth-child(odd) {
    background: #fdfdfd;
}

#seopress_content_analysis .advise,#seopress_cpt .advise,#seopress_pro_cpt .advise, .seopress-option .advise {
    margin: 5px;
    display: block;
    color: red;
    font-style: italic;
}

#seopress_cpt #tabs-6 #wrap-videos .video .advise {
    color: #555;
}

#seopress_content_analysis .mandatory,#seopress_cpt .mandatory {
    color: #c00;
}

#seopress_cpt .box-left {
    float: left;
    width: 49%;
    margin-right: 1%;
}

#seopress_cpt .box-right {
    float: left;
    width: 49%;
    margin-left: 1%;
}

#seopress_cpt .google-snippet-preview {
    font-family: arial,sans-serif;
    word-break: break-all;
}

#seopress_cpt .google-snippet-preview > p {
    word-break: normal;
}

#seopress_cpt .google-snippet-preview .snippet-title,#seopress_cpt .google-snippet-preview .snippet-title-custom,#seopress_cpt .google-snippet-preview .snippet-title-default {
    color: #1a0dab;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

#seopress_cpt .google-snippet-preview .snippet-permalink {
    color: #006621;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

#seopress_cpt .google-snippet-preview .snippet-description,#seopress_cpt .google-snippet-preview .snippet-description-custom,#seopress_cpt .google-snippet-preview .snippet-description-default {
    color: #545454;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    display: inline;
}

#seopress_cpt .google-snippet-preview .snippet-date {
    color: grey;
    display: inline;
}

#seopress_cpt .wrap-seopress-counters,#seopress_pro_cpt .wrap-seopress-counters {
    text-align: right;
    background: #eee;
    padding: 2px 5px;
    display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-size: 12px;
    justify-content: flex-end;
}

#seopress_cpt #seopress_titles_desc_counters,#seopress_cpt #seopress_titles_title_counters,#seopress_pro_cpt #seopress_rich_snippets_articles_counters,#seopress_pro_cpt #seopress_rich_snippets_courses_counters {
    display: inline;
    margin-right: 5px;
}

#seopress_cpt #seopress_titles_desc_counters_val,#seopress_cpt #seopress_titles_title_counters_val,#seopress_pro_cpt #seopress_rich_snippets_articles_counters_val,#seopress_pro_cpt #seopress_rich_snippets_courses_counters_val {
    display: inline;
    font-weight: 700;
}

#term-seopress #seopress_cpt {
    width: 95%;
}

.fixed .column-seopress_w3c,.fixed .column-seopress_words {
    width: 5%;
}

.fixed .column-seopress_nofollow,.fixed .column-seopress_noindex {
    width: 10%;
}

#seopress_content_analysis .ui-tabs,#seopress_cpt .ui-tabs {
    position: relative;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    width: 100%;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li,#seopress_cpt .ui-tabs .ui-tabs-nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 2px;
    padding: 0px 5px;
    white-space: nowrap;
    margin: 0;
    border: none;
    background: 0 0;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li a,#seopress_cpt .ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    padding: 5px 10px;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav li a,#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li.ui-tabs-active,#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 2px;
    padding-bottom: 1px;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li.ui-state-disabled a,#seopress_content_analysis .ui-tabs .ui-tabs-nav li.ui-tabs-active a,#seopress_content_analysis .ui-tabs .ui-tabs-nav li.ui-tabs-loading a,#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-state-disabled a,#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-active a,#seopress_cpt .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    color: #191e23;
    font-weight: bold;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li a,#seopress_content_analysis .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a,#seopress_cpt .ui-tabs .ui-tabs-nav li a,#seopress_cpt .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
    color: #191e23;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}

#seopress_cpt .ui-tabs-vertical {
    width: 55em;
}

#seopress_cpt .ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px!important;
    border-right-width: 0!important;
    margin: 0 -1px .2em 0;
}

#seopress_cpt .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

#seopress_cpt .ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

#seopress_content_analysis .ui-tabs .ui-tabs-nav li a .dashicons,#seopress_cpt .ui-tabs .ui-tabs-nav li a .dashicons {
    margin-right: 2px;
}

#tab-panel-seopress_titles_help_tab li span {
    font-weight: 700;
    margin-right: 10px;
}

#seopress_content_analysis .ui-tabs .dashicons-no-alt,#seopress_content_analysis .ui-tabs .dashicons-yes,#seopress_pro_cpt .dashicons-no-alt,#seopress_pro_cpt .dashicons-yes {
    color: #fff;
    background: #12BD10;
    border-radius: 50px;
    margin-right: 10px;
}

#seopress_content_analysis .ui-tabs .dashicons-no-alt,#seopress_pro_cpt .dashicons-no-alt {
    background: #e25950;
}

body.seopress-styles {
    background: #f8fafd;
}

#seopress-content a {
    color: #3297d3;
}

#seopress-content a:hover {
    color: #106598;
}

#seopress-admin-tabs.ui-tabs {
    position: relative;
    padding: .2em;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

#seopress-admin-tabs.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: -1px .2em 0 0;
    padding: 0;
    white-space: nowrap;
    border: none;
    background: 0 0;
}

#seopress-admin-tabs.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .38em 1em .75rem;
    outline: 0;
    border-bottom: 2px solid #fff;
}

#seopress-admin-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
}

#seopress-admin-tabs.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#seopress-admin-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#seopress-admin-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
    border-bottom: 2px solid #23282D;
    color: #23282D;
}

#seopress-admin-tabs.ui-tabs .ui-tabs-nav li a,#seopress-admin-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
    color: #0073aa;
    text-decoration: none;
}

#seopress-admin-tabs.ui-tabs-vertical {
    width: 55em;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px!important;
    border-right-width: 0!important;
    margin: 0 -1px .2em 0;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

#seopress-admin-tabs.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

.seopress-styles .seopress-option {
    margin: 10px auto 0;
    max-width: 90%;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
}

.seopress-styles .seopress-option h1 {
    font-size: 16px;
    font-weight: 700;
    color: #3297d3;
    text-transform: uppercase;
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    top: 32px;
    background: #fff;
    z-index: 100;
    padding: 10px 0;
}

.seopress-styles .seopress-option h1 .dashicons,.seopress-styles .seopress-option h2 .dashicons {
    margin: 0 10px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.seopress-styles .seopress-option .link-archive {
    font-size: 14px;
}

.seopress-styles .seopress-option .link-archive .dashicons {
    font-size: 18px;
    width: 20px;
    height: 20px;
    margin: inherit;
}

.seopress-styles .seopress-option h1>.dashicons {
    font-size: 30px;
    width: 30px;
    height: 30px;
    background: #c4f0ff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(50,50,93,.1),0 1px 3px rgba(0,0,0,.1);
    margin-left: 20px;
}

.seopress-styles .seopress-option .metabox-holder h2 .dashicons {
    font-size: 16px;
}

.seopress-option h1 .feature-state .dashicons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.seopress-styles .wrap {
    margin: 0;
    position: relative;
}

.seopress-styles .seopress-option .submit {
    background: #fff;
    text-align: center;
    border-top: 1px solid #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.seopress-styles .seopress-option #seopress-yoast-migrate, .seopress-styles .seopress-option #seopress-aio-migrate, .seopress-styles .seopress-option #seopress-seo-framework-migrate, .seopress-styles .seopress-option #submit {
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 34px;
    text-transform: uppercase;
    min-height: 34px;
    transition: all .3s linear;
    text-shadow: none;
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.1);
    margin-right: 15px;
    background: RGB(106,124,148);
    position: relative;
    height: auto;
    z-index: 10;
}

.seopress-styles .seopress-option #seopress-yoast-migrate:hover, .seopress-styles .seopress-option #seopress-aio-migrate:hover, .seopress-styles .seopress-option #seopress-seo-framework-migrate:hover, .seopress-styles .seopress-option #submit:hover {
    text-decoration: none;
    color: #FFF;
    background: #232323;
}

.seopress-styles #wpcontent {
    padding-left: 0;
    background: #F8FAFD;
}

.seopress-styles pre {
    color: #42b72a;
    background: #f5f6f7;
    font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
    padding: 7px;
    display: inline-block;
}

.seopress-styles #seopress-navbar {
    padding: 10px 0.5rem;
    height: 56px;
    margin: 0 auto;
    width: 53rem;
    box-sizing: border-box;
    position: relative;
}

#seopress-header {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#seopress-header #seopress-admin h1 {
    line-height: 40px;
    margin: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#seopress-header #seopress-admin h1::before {
    font-size: 14px;
    line-height: 40px;
    position: absolute;
    border-radius: 6px;
    font-weight: 400;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    background: rgb(58,74,251);
    background: -moz-linear-gradient(45deg, rgba(58,74,251,1) 0%, rgba(71,190,165,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(58,74,251,1) 0%,rgba(71,190,165,1) 100%);
    background: linear-gradient(45deg, rgba(58,74,251,1) 0%,rgba(71,190,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a4afb', endColorstr='#47bea5',GradientType=1 );
}

#seopress-header #seopress-admin h1:hover {
    cursor: pointer;
}

#seopress-header #seopress-admin h1>a {
    text-decoration: none;
    color: inherit;
}

#seopress-header #seopress-admin .seopress-quick-access {
    background: #fff;
    box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.2),0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    white-space: nowrap;
    transform: rotate3d(1,1,0,-15deg);
    transform-origin: 100% 0;
    opacity: 0;
    will-change: transform,opacity;
    transition-property: transform,opacity;
    transition-duration: .25s;
    z-index: 300;
    padding: 0;
    display: block;
    width: 53rem;
    top: 0;
    visibility: hidden;
    cursor: auto;
}

#seopress-header #seopress-admin h1:hover .seopress-quick-access {
    transform: none;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

#seopress-header #seopress-admin .seopress-quick-access>ul {
    padding: 20px;
    margin: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

#seopress-header #seopress-admin h1 .seopress-quick-access li {
    text-decoration: none;
    display: inline-block;
    width: 50%;
    margin: 0;
    float: left;
    padding: 10px 0;
}

#seopress-header #seopress-admin h1 .seopress-quick-access li .dashicons {
    vertical-align: middle;
    background: #B7E1F3;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

#seopress-header #seopress-admin h1 .seopress-quick-access li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    transition: all .3s linear;
    color: #3297d3;
}

#seopress-header #seopress-admin h1 .seopress-quick-access li a:hover {
    color: #647a88;
}

#seopress-header #seopress-admin h1 .seopress-info-version {
    position: relative;
    left: 50px;
    top: 0;
    font-size: 14px;
    width: 100px;
    display: block;
}

#seopress-header #seopress-admin .wpc-info-version {
    font-size: 14px;
    left: 310px;
    position: absolute;
    text-indent: 0;
    top: 85px;
}

#seopress-header #seopress-notice {
    float: right;
    line-height: 40px;
}

#seopress-header #seopress-notice p {
    font-size: 16px;
}

#seopress-header #seopress-notice .dashicons {
    color: #444;
    text-decoration: none;
    line-height: 40px;
}

#seopress-header #seopress-notice div.small {
    font-size: 13px;
    display: inline;
}

#seopress-footer-credits {
    font-style: italic;
}

#seopress-footer-credits .wporg-ratings {
    display: inline;
}

#seopress-footer-credits .wporg-ratings a {
    text-decoration: none;
}

.seopress-option .seopress-settings {
    float: left;
    max-width: 750px;
    width: 100%;
}

.seopress-option #seopress-edd-license-btn,.seopress-option #seopress-refresh {
    float: left;
}

.wp-admin-ui_page_seopress-import-export .postbox {
    margin-right: 20px;
}

.seopress-option #side-sortables .accordion-section-content {
    padding: 0;
}

.seopress-option .seopress-settings label {
    margin: 0 0 0 10px;
}

.wrap-seopress-tab-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 53rem;
    margin: 20px auto 0;
}

#seopress-admin-tabs .seopress-tab {
    padding: 1.5rem;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all .2s ease;
    transform: translateX(-15px);
    position: absolute;
    top: 0;
}

#seopress-admin-tabs .seopress-tab.active {
    visibility: visible;
    overflow: inherit;
    opacity: 1;
    transform: translateX(0);
    display: inherit;
    position: relative;
}

#seopress-tabs .seopress-tab {
    padding: 1.5rem;
    display: none;
}

#seopress-tabs .seopress-tab.active {
    display: inline-block;
}

.seopress-option input[type=text],.seopress-option input[type=password],.seopress-option textarea {
    min-width: 485px;
}

#seopress_htaccess_file {
    width: 100%;
}

.seopress-option textarea {
    min-height: 100px;
}

.seopress-option #side-sortables .highlight {
    border: 1px dashed #ccc;
    display: block;
    width: 382px;
    height: 40px;
    background: 0 0;
}

.seopress-option #side-sortables .accordion-section {
    margin-bottom: 9px;
    width: 382px;
}

.seopress-option #side-sortables .accordion-section h3 {
    cursor: move;
    border: 1px solid #E5E5E5;
    background: #FAFAFA;
}

.seopress-option #side-sortables .accordion-section .inside {
    padding: 10px 10px 24px;
    border-width: 0 1px 1px;
    border-style: solid;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-color: #e5e5e5;
    display: inline-block;
    width: calc(100% - 22px);
    height: 100%;
}

.seopress-option #side-sortables .accordion-section .inside ul {
    padding-left: 10px;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.seopress-option #side-sortables .accordion-section .inside ul li {
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
}

.seopress-option #side-sortables .accordion-section .inside ul li:first-child {
    border-bottom: 1px dotted #E5E5E5;
    border-left: 0;
    padding-bottom: 10px;
    font-weight: 700;
    margin-left: -15px;
    margin-bottom: 10px;
}

.seopress-notice #message {
    margin: 5px 10px 2px 0;
}

#seopress-notice a {
    position: relative;
    text-decoration: none;
}

#seopress-notice a .tooltip {
    white-space: pre;
    z-index: 200;
    padding: 2px 5px;
    font-weight: 500;
    font-size: 12px;
    color: #aab7c4;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(49,49,93,.1),0 0 1px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    position: absolute;
    opacity: 0;
    top: 30px;
    transition: opacity .2s ease;
    visibility: hidden;
    line-height: 20px;
    left: -100%;
    overflow: hidden;
}

#seopress-notice a:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.seopress-page-list {
    margin: 1.5rem 0px;
}

.seopress-option .dashicons,.seopress-page-list .dashicons {
    vertical-align: middle;
    margin-right: 5px;
}

#seopress-admin-tabs .ui-tabs-nav,#seopress-notifications-center,.seopress-page-list .seopress-feature,.seopress-useful-tools {
    background: linear-gradient(172deg,#f5f7fa,#f5f7fa 200px,#fff 0,#fff);
    margin: 0 auto 20px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.2);
    max-width: 50rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: 4px;
}

#seopress-notifications-center,.seopress-useful-tools {
    background: linear-gradient(172deg,#f5f7fa,#f5f7fa 400px,#fff 0,#fff);
}

.seopress-page-list .seopress-feature {
    padding: 0 1.5rem;
    position: relative;
    overflow: hidden;
    transition-duration: .15s;
}

.seopress-page-list .seopress-feature p {
    color: #6b7c93;
    font-size: 14px;
    margin-bottom: 30px;
}

#seopress-notifications-center {
    margin-top: 0;
}

#seopress-admin-tabs .ui-tabs-nav {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0;
}

.seopress-page-list .seopress-feature .img-tool {
    height: 100px;
    width: 100px;
    background: #c4f0ff;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50,50,93,.1),0 1px 3px rgba(0,0,0,.1);
    top: calc(50% - 50px);
    left: 20px;
}

.seopress-page-list .seopress-feature .img-tool .dashicons {
    color: #217AB7;
    font-size: 60px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    margin: 0;
}

.seopress-page-list .seopress-feature .inner {
    margin: 0;
    display: block;
    padding: 2rem 0 2rem 120px;
}

.seopress-page-list .seopress-feature h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #3297d3;
    text-transform: uppercase;
}

.seopress-page-list .seopress-feature h3 .dashicons {
    font-size: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

#seopress-content .seopress-page-list .seopress-feature a,#seopress-notifications-center .seopress-alert .button-primary,.seopress-option .seopress-feature a,.seopress-useful-tools .widget .button-primary {
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 34px;
    text-transform: uppercase;
    min-height: 34px;
    transition: all .3s linear;
    text-shadow: none;
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.1);
    margin-right: 15px;
    background: #6A7C94;
    position: relative;
    height: auto;
}

#seopress-content .seopress-page-list .seopress-feature a.button-secondary {
    padding-left: 30px;
}

#seopress-content .seopress-page-list .seopress-feature a.button-secondary::before,#seopress-notifications-center .seopress-alert .button-primary::after {
    content: "\f111";
    font-family: Dashicons;
    position: absolute;
    left: 10px;
    top: 1px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

#seopress-content .seopress-page-list .seopress-feature a.view-redirects,#seopress-notifications-center .seopress-alert .button-primary,.seopress-option .button {
    background: #fff;
    border: none;
    color: #6b7c93;
    font-weight: 500;
    transition: all .3s linear;
    text-shadow: none;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 34px;
    min-height: 34px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.1);
    vertical-align: baseline;
}

.seopress-option .button .dashicons {
    font-size: 16px;
}

#seopress-content .seopress-page-list .seopress-feature a.view-redirects {
    padding-left: 35px;
}

#seopress-notifications-center .seopress-alert .button-primary::after {
    content: "\f344";
    left: inherit;
    right: 10px;
}

#seopress-content .seopress-page-list .seopress-feature a.view-redirects::before {
    content: "\f177";
}

#seopress-content .seopress-page-list .seopress-feature a:hover,#seopress-notifications-center .seopress-alert .button-primary:hover,.seopress-option .button:hover,.seopress-option .seopress-feature a:hover,.seopress-useful-tools .widget .button-primary:hover {
    text-decoration: none;
    color: #FFF;
    background: #232323;
}

#seopress-content .seopress-page-list .seopress-feature .seopress-doc:focus,#seopress-content .seopress-page-list .seopress-feature a:focus,#seopress-content .seopress-page-list .seopress-feature a:focus.button-secondary,#seopress-content a:focus,#seopress-notifications-center .seopress-alert .button-primary:focus,.seopress-option #seopress-tabs .seopress-doc:focus,.seopress-option .seopress-feature a:focus,.seopress-styles .seopress-option #seopress-yoast-migrate:focus, .seopress-styles .seopress-option #seopress-aio-migrate:focus,.seopress-styles .seopress-option #submit:focus,.seopress-useful-tools .widget .button-primary:focus {
    box-shadow: 0 1px 0 #0073aa,0 0 2px 1px #33b3db;
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

#seopress-admin-tabs .nav-tab-wrapper a.nav-tab-active:focus {
    color: inherit;
}

#seopress-notifications-center .seopress-alert .button-primary {
    float: right;
    margin: 5px 0;
    padding-right: 30px;
}

#seopress-notifications-center h2,.seopress-useful-tools h2 {
    margin: 5px 0 15px 5px;
    display: inline-block;
    width: 100%;
}

#seopress-notifications-center .dashicons,.seopress-useful-tools .dashicons {
    margin-right: 10px;
}

#seopress-notifications-center .seopress-alert {
    padding: 0;
    display: inline-block;
    margin: 0 10px 10px 5px;
    border-bottom: 1px solid #e6ebf1;
    width: calc(100% - 30px);
    position: relative;
    transition: all 150ms ease;
}

#seopress-notifications-center .seopress-alert:hover {
    cursor: default;
}

#seopress-notifications-center .seopress-alert p {
    display: inline-block;
}

#seopress-notifications-center .seopress-alert .impact {
    padding: 4px 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 4px;
}

#seopress-notifications-center .seopress-alert .impact.low {
    background: #FFDE24;
    color: #6b6543;
}

#seopress-notifications-center .seopress-alert .impact.medium {
    background: #e39f48;
}

#seopress-notifications-center .seopress-alert .impact.high {
    background: #e25950;
}

#seopress-notifications-center .seopress-alert .impact.high.info{
    background:#0085ba;
}

#seopress-notifications-center .seopress-alert .dashicons {
    color: #FFC82C;
}

#seopress-notifications-center .dashicons.remove-notice {
    position: absolute;
    right: -55px;
    color: #6b7c93;
    font-size: 30px;
    height: 30px;
    width: 30px;
    top: 2px;
    padding: 5px;
    transition: all .3s linear;
}

#seopress-notifications-center .dashicons.remove-notice:hover {
    background: #e25950;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

#seopress-content .seopress-page-list .seopress-feature .seopress-doc,.seopress-option #seopress-tabs .seopress-doc {
    background: 0 0;
    padding: 0;
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: inherit;
    box-shadow: none;
    position: absolute;
    right: 0;
}

#seopress-content .seopress-page-list .seopress-feature .seopress-doc:hover,.seopress-option #seopress-tabs .seopress-doc:hover {
    color: #747474;
    background: 0 0;
}

.seopress-option .seopress-table {
    background: #FFF;
    border: 1px solid #ccc;
}

.seopress-option .seopress-table th {
    padding: 15px 10px;
    vertical-align: middle;
}

.wp-admin-ui_page_seopress-roles .seopress-option .seopress-table th {
    min-width: 200px;
}

.seopress-option .seopress-table .seopress-settings-section {
    background: #f1f1f1;
}

.seopress-option .seopress-table .seopress-table-head .seopress-feature {
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    background: #f1f1f1;
}

#seopress-content .feature-state,.seopress-option .feature-state {
    font-style: italic;
    font-size: 12px;
    display: inline-block;
    background: rgba(0,140,135,.1);
    padding: 5px 12px;
    border-radius: 25px;
    color: #444;
    font-weight: 400;
    text-transform: none;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
}

#seopress_cpt .tag-title,.seopress-button,.seopress-option .tag-title {
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    transition: all .3s linear;
}

#seopress-content .feature-state-on,#seopress-content .feature-state.feature-state-on,.seopress-option .feature-state-on,.seopress-option .feature-state.feature-state-on {
    display: inline;
}

#seopress-content .feature-state-off,.seopress-option .feature-state-off {
    display: none;
}

.seopress-option .postbox .inside li {
    list-style: square inside;
    padding-left: 5px;
}

#tab_seopress_page_speed .inside li {
    list-style: none;
    padding-left: 0;
    word-break: break-word;
}

.seopress-option .log {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    color: rgba(19,191,17,1);
    font-style: italic;
}

.seopress-option input[type=text].seopress-admin-menu-input {
    min-width: inherit;
    width: 100%;
}

.seopress_page_seopress-import-export .postbox {
    width: calc(100% - 20px);
}

#seopress_cpt .wrap-tags,.seopress-option .wrap-tags {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#seopress_cpt .tag-title,.seopress-option .tag-title {
    padding: 4px 8px;
    position: relative;
    top: 5px;
    left: 0;
    font-size: 11px;
    float: left;
    margin-right: 5px;
    user-select: none;
    margin-bottom: 5px;
    background: #fff;
    color: #6b7c93;
    box-shadow: 0 0 0 .5px rgba(50,50,93,.17),0 2px 5px 0 rgba(50,50,93,.12),0 3px 9px 0 rgba(50,50,93,.08),0 1px 1.5px 0 rgba(0,0,0,.08),0 1px 2px 0 rgba(0,0,0,.08);
}

#seopress_cpt .tag-title:active,#seopress_cpt .tag-title:focus,#seopress_cpt .tag-title:hover,.seopress-option .tag-title:active,.seopress-option .tag-title:focus,.seopress-option .tag-title:hover {
    background: #232323;
    color: #fff;
    user-select: none;
}

#seopress_cpt .tag-title .dashicons,.seopress-option .tag-title .dashicons {
    padding: 0;
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.seopress-button {
    text-transform: uppercase;
    background: #fff;
    border-color: #c8d7e1;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #2e4453;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seopress-button:hover {
    border-color: #a8bece;
    color: #00a0d2;
}

.seopress-button .dashicons {
    vertical-align: middle;
}

#seopress-content #tab_seopress_seo_tools.seopress-useful-tools .widget {
    border-right: 1px solid #e6ebf1;
    margin: 0;
    padding: 0 20px;
    width: calc(50% - 2px);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

#seopress-content #tab_seopress_seo_tools.seopress-useful-tools .widget:first-child {
    width: 100%;
    display: block;
    clear: both;
    border-right: none;
    border-bottom: 1px solid #e6ebf1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#seopress-content #tab_seopress_seo_tools.seopress-useful-tools .widget:last-child {
    border-right: none;
}

#seopress-content .seopress-useful-tools .widget-reverse ul {
    background: #fff;
}

#seopress-content .seopress-useful-tools .widget-reverse li {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #e6ebf1;
}

#seopress-content .seopress-useful-tools .widget-reverse li:hover {
    background: #F5F7FA;
}

#seopress-content .seopress-useful-tools .widget-title {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 13px;
    padding: 10px 0;
    color: #24b47e;
}

#seopress-content .seopress-reverse label,#seopress-content .seopress-useful-tools .widget-whois ul li span {
    font-weight: 700;
}

#seopress-content #seopress-reverse-url {
    width: 100%;
    margin: 10px 0;
}

#seopress-content .widget-reverse p {
    margin: 0;
}

.post-type-seopress_backlinks .wp-list-table .column-seopress_backlinks_url {
    width: 35%;
}

.post-type-seopress_backlinks .wp-list-table .column-seopress_backlinks_anchor_text {
    width: 20%;
}

.seopress-styles #screen-meta {
    margin: 0;
    position: relative;
    background-color: #fff;
    border-bottom: 0 solid #f2f2f2;
    border-top: none;
    -webkit-box-shadow: 0 0 0 1px rgba(136,152,170,.1),0 15px 35px 0 rgba(49,49,93,.1),0 5px 15px 0 rgba(0,0,0,.08);
    box-shadow: 0 0 0 1px rgba(136,152,170,.1),0 15px 35px 0 rgba(49,49,93,.1),0 5px 15px 0 rgba(0,0,0,.08);
    top: 0;
}

.seopress-styles #contextual-help-link-wrap,.seopress-styles #screen-options-link-wrap {
    float: right;
    height: 28px;
    margin: 0 0 0 6px;
    border: 1px solid #f2f2f2;
    border-top: none;
    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(136,152,170,.1),0 15px 35px 0 rgba(49,49,93,.1),0 5px 15px 0 rgba(0,0,0,.08);
    box-shadow: 0 0 0 1px rgba(136,152,170,.1),0 15px 35px 0 rgba(49,49,93,.1),0 5px 15px 0 rgba(0,0,0,.08);
}

.seopress-styles #screen-meta-links .show-settings {
    box-shadow: none;
}

.seopress-styles #screen-meta-links .screen-meta-toggle {
    position: relative;
    top: 0;
    z-index: 2000;
}

.seopress-styles #contextual-help-back {
    background: #f8fafd;
}

.seopress-styles .contextual-help-tabs .active {
    border-left: 2px solid #3297d3;
    background: #f8fafd;
}

#seopress-content input.toggle,.seopress-option input.toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}

#seopress-content input.toggle+label,.seopress-option input.toggle+label {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

.wrap-toggle-checkboxes input.toggle+label {
    float: left;
    margin-right: 10px;
}

#seopress-content input.toggle+label:before,.seopress-option input.toggle+label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19,191,17,0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#seopress-content input.toggle+label:after,.seopress-option input.toggle+label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#seopress-content input.toggle[data-toggle="1"]+label:before,.seopress-option input.toggle[data-toggle="1"]+label:before {
    width: 50px;
    background: rgba(19,191,17,1);
}

#seopress-content input.toggle[data-toggle="1"]+label:after,.seopress-option input.toggle[data-toggle="1"]+label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19,191,17,1),0 2px 4px rgba(0,0,0,.2);
}

#seopress-content .seopress-page-list {
    position: relative;
}

#seopress-notice-save {
    position: fixed;
    color: #fff;
    padding: 15px 40px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    background: rgba(74,184,102,.9);
    bottom: 0;
    right: 0;
    z-index: 500;
    width: 100%;
    font-weight: bold;
}

.seopress_page_seopress-pro-page #wpcontent {
    background: #F4F7FA;
}

.seopress-option .wrap div.nav-tab-wrapper {
    border-bottom: 1px solid RGB(238,238,238);
    margin: 0 0 0 -16px;
    padding: 0 10px;
    line-height: inherit;
    background: #fff;
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    top: 102px;
    width: calc(100% + 12px);
    z-index: 95;
    font-weight: 400;
}

#seopress-admin-tabs.wrap div.nav-tab-wrapper {
    margin: 20px auto 0;
    max-width: 53rem;
    width: 100%;
    border-bottom: 0;
    padding: 0;
    line-height: inherit;
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    background: #f8fafd;
    z-index: 100;
    top: 31px;
    font-weight: 400;
}

#seopress-admin-tabs #tab_seopress_notifications.seopress-tab {
    background: 0 0;
    padding: 0;
}

#seopress-admin-tabs .nav-tab,.seopress-option .nav-tab {
    border: 0 solid #ccc;
    background: 0 0;
    opacity: .5;
    padding: 8px 8px;
    transition: opacity .3s linear;
    color: #191e23;
    margin: 0;
    float: none;
    display: inline-block;
}

#seopress-admin-tabs .nav-tab-active,#seopress-admin-tabs .nav-tab-active:hover,.seopress-option .about-wrap h2 .nav-tab-active,.seopress-option .nav-tab-active,.seopress-option .nav-tab-active:hover {
    background-color: #fff;
}

#seopress-admin-tabs .nav-tab-active,#seopress-admin-tabs .nav-tab-active:focus,#seopress-admin-tabs .nav-tab-active:focus:active,#seopress-admin-tabs .nav-tab-active:hover,#seopress-admin-tabs .nav-tab:focus,.nav-tab-active:focus,.seopress-option .nav-tab-active,.seopress-option .nav-tab-active:focus:active,.seopress-option .nav-tab-active:hover,.seopress-option .nav-tab:focus {
    background: 0 0;
    opacity: 1;
    outline: 0;
    font-weight: 600;
    position: relative;
}
.seopress-option .nav-tab-active::after {
    border-bottom: 2px solid #0085ba;
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    display: block;
}
#seopress-admin-tabs .nav-tab:hover,.seopress-option .nav-tab:hover {
    opacity: 1;
}

#seopress-admin-tabs .nav-tab:focus,.seopress-option .nav-tab:focus {
    outline: 0;
    box-shadow: none;
}
#section-import-redirects,
#section-export-redirects {
    margin-top:-120px;
    padding-top: 120px;
}
.seopress-option .section-tool {
    border: none;
    box-shadow: none;
    background: none;
    position: relative;
}
.seopress-option .section-tool::after {
    content:'';
    background: #dedede;
    height: 1px;
    width: 100%;
    display: block;
}
#tab_seopress_social_accounts .help-social {
    position: relative;
    right: 0;
    width: 30%;
}
#tab_seopress_social_accounts .form-table {
    float: left;
    width: 70%;
}
