.wpseopress-faqs-actions {
    border: 1px solid #1e1e1e;
    padding: 1rem;
    background: #fff;
    margin-top: 1rem;
}
.wpseopress-answer-meta {
    .wp-block-wp-seopress-image {
        .components-button.editor-post-featured-image__preview {
            text-align: left;
        }
    }
}
.wpseopress-faq-cta {
    display: flex;
    justify-content: flex-end;
}

.wpseopress-faqs-list-style,
.wpseopress-faqs-title-wrapper,
.wpseopress-faqs-image-size {
    button.components-button.is-primary {
        background-color: #007cba;
        color: #ffffff;
        border-color: #007cba;
        box-shadow: inset 0 0 0 1px #007cba;
        &:hover:not(:disabled) {
            color: #ffffff;
        }
    }
}

.components-panel__body {
    & > p {
        margin: 15px 0 0 0;
    }
}
