.wpseopress-answer-meta {
    .wp-block-wp-seopress-image { 
        .components-button.editor-post-featured-image__preview {
            text-align: left;
        }
    }
}
.wpseopress-faq-cta {
    display: flex;
    justify-content: flex-end;

    .button-link-delete, .button-link-delete:hover {
        border: 1px solid #a00;         
    }
}